body{
    background-image: url('im.jpeg');

}

table{
    border: solid 1px;
    width: 100%;
    height: 75vh;
    text-align: center;
    margin-top: 6rem;
}

table tr td {
    background-color: aqua;
    border-radius: 9rem;
    
}
