body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    background-color: aquamarine;
}
input{
    display: block;
    margin: 10px auto;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    

}

input[type="submit"]{
    background-color: #0E0;
}