body{
    background-image: url('im.jpeg');
}


.calcul{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 10%;
    background-color: skyblue;
    padding: 150px;
    border-radius: 10px;
    
}

input{
    display: block;
    margin: 10px auto;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    

}

input[type="submit"]{
    background-color: #0E0;
}

.calcul h4 {
    color: red;
}

.diw{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}



button{
    background-color: aqua;
    width: 10%;
    height: 4vh;
    border-radius: 3rem;
}