body{
    background-image: url('im.jpeg');
}

.you{
    background-color: aqua;
    height: 6rem;
    text-align: center;
    font-size: 6rem;
    border-top: 10rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

input{
    display: block;
    margin: 10px auto;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    width: 19%;
    height: 3rem;
    

}

input[type="submit"]{
    background-color: #0E0;
   
}